.reviewBook{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color:rgb(255,255,0);
  text-align: center;
  margin: 2vh;
}

.carousel-container {
  max-width: 750px;
}
.carousel-status font{
  color:rgb(255,255,0);
  font-size: medium;
}