.bookCard-bookcase {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-self: flex-start;
}
#book-cover-bookcase {
  width: 100px;
  height: 148.359px;
}

.bookCard-review {
  display: block;
  height: 150px;
  justify-content: center;
  margin: 10px;
  padding: 30px;
  margin-bottom: 80px;
}

#book-cover-reviewed{
  width: 101.10px;
  height: 150px;
  float: left;
}

#book-review{
  width: 500px;
  height: 300px;
  padding-left: 40px;
  float: right;
}
