.App{
  font-family: 'Luckiest Guy';
  height: 100% !important;
  min-width: 100%;
  text-align: justify;
  background: rgb(59, 59, 59);
  position: fixed;
  background-size: cover;
  overflow-y:auto;
  text-decoration: none;
}
