.menu-div {
  display: flex;
  width: 30%;
  float: left;
  height: 300px;
}

.menu-div li{
  color: rbg(255,255,0);
  font-size: 1.5rem;
  list-style: none;
  margin: .5rem 5.5rem;
  color:rgb(255,255,0);
}