.menu-div {
  display: flex;
  float: left;
  height: 300px;
}
.menu-div ul{
  width: 400px;
  height: 300px;
}
.menu-div li{
  color: rbg(255,255,0);
  font-size: 1.5rem;
  list-style: none;
  margin: .5rem 5.5rem;
  color:rgb(255,255,0);
}

.menu-li-item {
  color:rgb(255,255,0);
  text-decoration: none;
}