.recomendedBook{
  color:rgb(255,255,0);
  text-align: center;
}
#recomendedBook-books{
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 10px 50px;
}
.bookCard-review{
  width: 300px;
  color:rgb(255,255,0);
  text-align: center;
}

#recomendedBook-books{
  display: flex;
  flex-direction: row;
}
